html {
    background-color: #1e1e1e;
}

#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
}

#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border: 1px solid;
}

footer {
    color: dimgrey;
    width: 400;
    height: 200;
    border: 1px solid white;
    text-align: center;
    margin-top: 25%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}